.listing {
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    gap: 0.3rem;
    background: rgba(233, 233, 233, 0.671);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: relative;
}

.location {
    font-size: 2rem;
    font-family: 'Poppins', cursive;
}

.description {
    font-size: 1rem;
    font-family: 'Poppins', cursive;
}

.cost {
    color: rgba(73, 73, 246, 0.744);
    font-size: 1.7rem;
    font-family: 'Poppins', cursive;
}

.name {
    font-size: 0.9rem;
    font-family: 'Poppins', cursive;
}

.contact {
    font-size: 0.9rem;
    font-family: 'Poppins', cursive;
}

.trash {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 1024px) {
    .listing {
        width: 60%;
    }
 }